/* line 6, ../scss/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 11, ../scss/style.scss */
html {
  scroll-behavior: smooth;
}

/* line 15, ../scss/style.scss */
body {
  font-family: "Lato", sans-serif;
}

/* line 19, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 23, ../scss/style.scss */
li {
  text-decoration: none;
}

/* line 27, ../scss/style.scss */
header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  z-index: 2;
}

/* line 35, ../scss/style.scss */
.logo-img {
  margin-top: 20px;
  margin-left: 12%;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}

/* line 42, ../scss/style.scss */
.linkes {
  margin-top: 50px;
  margin-left: 58%;
}

/* line 47, ../scss/style.scss */
.header-link {
  color: #ffffff;
  text-align: center;
  padding-right: 30px;
  font-size: 14px;
}

/* line 54, ../scss/style.scss */
.menu-icon {
  font-size: 20px !important;
}

/* line 58, ../scss/style.scss */
.grow:hover {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  z-index: 10;
}

/* line 65, ../scss/style.scss */
.grow a:hover {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

/* line 71, ../scss/style.scss */
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/main-image.png);
  min-height: 880px;
  z-index: 1;
}

/* line 78, ../scss/style.scss */
.hero-sub-title {
  color: white;
  font-family: "Times New Roman", sans-serif;
  font-size: 36px;
  padding-top: 250px;
  font-style: italic;
  text-align: center;
  font-weight: 500;
  margin-bottom: 15px;
  opacity: 0.8;
}

/* line 90, ../scss/style.scss */
.hero-titile {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 100px;
  text-align: center;
  font-style: bold;
  margin-bottom: 40px;
}

/* line 99, ../scss/style.scss */
.btn-hero {
  text-align: center;
}

/* line 103, ../scss/style.scss */
#mybtn {
  background: none;
  color: white;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding: 20px 60px;
  border: 3px solid white;
  border-radius: 2px;
  transition: all 0.5s ease;
}

/* line 115, ../scss/style.scss */
#mybtn:hover {
  background: white;
  color: black;
}

/* line 120, ../scss/style.scss */
.hero-p {
  color: white;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: 45px;
  opacity: 0.7;
}
/* line 128, ../scss/style.scss */
.hero-p a {
  color: white;
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.5s ease;
}
/* line 135, ../scss/style.scss */
.hero-p a:hover {
  color: #c5c5c5;
}

@media (max-width: 806px) {
  /* line 141, ../scss/style.scss */
  nav {
    margin-left: 0;
  }

  /* line 144, ../scss/style.scss */
  .topnav a {
    padding-right: 15px;
  }

  /* line 147, ../scss/style.scss */
  .logo-img {
    margin-left: 0;
  }

  /* line 150, ../scss/style.scss */
  .hero-sub-title {
    font-size: 20px;
  }

  /* line 153, ../scss/style.scss */
  .hero-titile {
    font-size: 70px;
  }

  /* line 156, ../scss/style.scss */
  .hero-p {
    font-size: 12px;
  }

  /* line 159, ../scss/style.scss */
  #hero {
    min-height: 100vh;
  }
}
@media (max-width: 281px) {
  /* line 165, ../scss/style.scss */
  .logo-img {
    width: 70%;
  }

  /* line 168, ../scss/style.scss */
  .topnav a {
    font-size: 11px;
  }

  /* line 171, ../scss/style.scss */
  nav {
    margin-top: 38px;
  }

  /* line 174, ../scss/style.scss */
  .hero-sub-title {
    padding-top: 180px;
  }
}
/* line 179, ../scss/style.scss */
#advantage {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

/* line 185, ../scss/style.scss */
.wrapper {
  width: 75%;
  margin: 0 auto;
}

/* line 190, ../scss/style.scss */
.advantage-cards {
  display: flex;
  flex-direction: row;
}

/* line 195, ../scss/style.scss */
.img-item {
  width: 120px;
  height: 120px;
  margin: 20px auto;
  transition: all 0.5s ease;
}

/* line 202, ../scss/style.scss */
.title {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 211, ../scss/style.scss */
.sub-titile {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  opacity: 0.5;
}

/* line 218, ../scss/style.scss */
.line {
  width: 90px;
  height: 2px;
  background: #d97265;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

@media (max-width: 1344px) {
  /* line 228, ../scss/style.scss */
  .advantage-cards {
    flex-direction: column;
  }

  /* line 231, ../scss/style.scss */
  .card {
    margin-bottom: 40px;
  }
}
/* line 236, ../scss/style.scss */
#product {
  background-color: #f6f6f6;
}

/* line 240, ../scss/style.scss */
.poduct-block {
  display: flex;
  flex-direction: row;
}

/* line 245, ../scss/style.scss */
.iphone {
  max-width: 80%;
  margin-top: 110px;
  margin-bottom: -3px;
}

/* line 251, ../scss/style.scss */
.about {
  max-width: 50%;
}
/* line 253, ../scss/style.scss */
.about h2 {
  text-align: left;
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: bold;
  font-weight: 400;
  padding-top: 185px;
  margin-bottom: 10px;
}

/* line 265, ../scss/style.scss */
.line-about {
  width: 90px;
  height: 2px;
  background: #d97265;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 10px;
  justify-content: left;
}

/* line 276, ../scss/style.scss */
.about-text {
  opacity: 0.5;
}

/* line 280, ../scss/style.scss */
.buttons {
  display: flex;
  margin-top: 30px;
}

/* line 285, ../scss/style.scss */
.appsmarket {
  margin-right: 10px;
  transition: all 0.5s ease;
}

/* line 290, ../scss/style.scss */
#btn-animate:hover {
  transition: all 0.5s ease;
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}

@media (max-width: 1090px) {
  /* line 298, ../scss/style.scss */
  .poduct-block {
    flex-direction: column-reverse;
  }

  /* line 301, ../scss/style.scss */
  .about {
    max-width: 100%;
  }

  /* line 304, ../scss/style.scss */
  .iphone {
    max-width: 85%;
  }

  /* line 307, ../scss/style.scss */
  .about h2 {
    padding-top: 85px;
  }
}
/* line 312, ../scss/style.scss */
.numbers-row {
  display: flex;
}

/* line 316, ../scss/style.scss */
.num {
  padding-top: 60px;
  font-size: 36px;
  font-family: "Lato";
  color: black;
  font-weight: bold;
  line-height: 0.833;
  margin-bottom: 20px;
  text-align: center;
}

/* line 327, ../scss/style.scss */
.number-text {
  font-size: 16px;
  font-family: "Lato";
  color: black;
  line-height: 1.125;
  text-align: center;
  font-weight: 300;
  opacity: 0.6;
}

/* line 337, ../scss/style.scss */
.number-item {
  padding-bottom: 60px;
  min-width: 20%;
}

@media (max-width: 950px) {
  /* line 343, ../scss/style.scss */
  .numbers-row {
    flex-direction: column;
  }

  /* line 346, ../scss/style.scss */
  .number-item {
    min-width: 80%;
    text-align: center;
  }

  /* line 350, ../scss/style.scss */
  .number-text {
    text-align: center;
  }
}
/* line 355, ../scss/style.scss */
footer {
  background-color: #f7f7f7;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 361, ../scss/style.scss */
.footer-content {
  display: flex;
  justify-content: space-between;
}

/* line 366, ../scss/style.scss */
.rights,
.design-by {
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 300;
}

/* line 373, ../scss/style.scss */
.bekades {
  color: black;
  font-style: bold;
  font-weight: 400;
  transition: all 0.3s ease;
}

/* line 380, ../scss/style.scss */
.bekades:hover {
  color: #565656;
}

/* line 384, ../scss/style.scss */
.wrapper2 {
  width: 68%;
  margin: 0 auto;
}

@media (max-width: 666px) {
  /* line 390, ../scss/style.scss */
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  /* line 394, ../scss/style.scss */
  .rights {
    text-align: center;
    margin-bottom: 20px;
  }

  /* line 399, ../scss/style.scss */
  .design-by {
    text-align: center;
  }
}
/* line 404, ../scss/style.scss */
.face {
  display: block;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 110px;
}

/* line 412, ../scss/style.scss */
.review-text {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  color: white;
  font-weight: 200;
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  transition: all 0.5s ease;
}

/* line 427, ../scss/style.scss */
.review-name {
  font-size: 18px;
  font-style: italic;
  font-weight: 100;
  color: white;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 438, ../scss/style.scss */
.slider {
  width: 100%;
  position: relative;
  margin: auto;
}

/* line 444, ../scss/style.scss */
.item {
  background-image: url(../img/bg.png);
  padding-bottom: 120px;
}

/* line 449, ../scss/style.scss */
.slider .previous,
.slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* line 463, ../scss/style.scss */
.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* line 468, ../scss/style.scss */
.slider .previous:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 473, ../scss/style.scss */
.slider .item {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 886px) {
  /* line 487, ../scss/style.scss */
  .review-text {
    max-width: 250px;
  }
}
/* line 492, ../scss/style.scss */
.receptes-title {
  text-align: center;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding-top: 100px;
  margin-bottom: 10px;
}

/* line 501, ../scss/style.scss */
.line-resept {
  width: 90px;
  height: 2px;
  background: #d97265;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

/* line 510, ../scss/style.scss */
.recept-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

/* line 516, ../scss/style.scss */
.resept-sum {
  padding-top: 80px;
  font-size: 16px;
  color: white;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Times New Roman", sans-serif;
}

/* line 527, ../scss/style.scss */
.resept-sum:hover {
  color: white !important;
}

/* line 531, ../scss/style.scss */
.recept-block {
  width: 20%;
  background: rgba(228, 81, 81, 0.959);
  max-height: 220px;
}

/* line 537, ../scss/style.scss */
.recept-block:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}

/* line 542, ../scss/style.scss */
.recept-name {
  font-size: 36px;
  font-style: bold;
  color: white;
  text-align: center;
  padding-bottom: 100px;
  font-weight: 600;
}

@media (max-width: 1213px) {
  /* line 552, ../scss/style.scss */
  .recept-name {
    font-size: 20px;
  }

  /* line 555, ../scss/style.scss */
  .resept-sum {
    font-size: 10px;
  }
}
@media (max-width: 950px) {
  /* line 561, ../scss/style.scss */
  .recept-block {
    width: 50%;
  }
}
/* line 566, ../scss/style.scss */
.filter-block {
  margin-top: 30px;
  text-align: center;
}
/* line 570, ../scss/style.scss */
.filter-block a {
  padding: 10px 20px;
  border: 1px solid #d97265;
  font-size: 14px;
  color: #d97265;
  font-weight: 300;
  border-radius: 4px;
  text-transform: uppercase;
}
/* line 579, ../scss/style.scss */
.filter-block a:hover {
  background-color: #d97265;
  color: white;
}
/* line 583, ../scss/style.scss */
.filter-block p {
  font-size: 10px;
  color: gray;
  font-weight: 400;
  margin-bottom: 20px;
}

/* line 591, ../scss/style.scss */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  padding: 15px;
  background: #d97265;
  transform: translateX(-100%);
  transition: transform 0.5s;
  text-align: center;
}

/* line 604, ../scss/style.scss */
.menu.active {
  transform: translateX(0);
}

/* line 608, ../scss/style.scss */
.menu li {
  list-style-type: none;
  padding-top: 15px;
  font-family: "Lato", sans-serif;
}

/* line 614, ../scss/style.scss */
.menu-link {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

/* line 622, ../scss/style.scss */
.menu-link:hover {
  opacity: 0.8;
}

@media (max-width: 900px) {
  /* line 627, ../scss/style.scss */
  .topnav a {
    padding-right: 0;
  }

  /* line 630, ../scss/style.scss */
  .linkes {
    margin-left: 0;
  }

  /* line 633, ../scss/style.scss */
  .menu {
    width: 35%;
  }
}
@media (max-width: 500px) {
  /* line 639, ../scss/style.scss */
  .menu {
    width: 35%;
  }

  /* line 642, ../scss/style.scss */
  .topnav a {
    padding-right: 5px;
  }
}
/* line 649, ../scss/style.scss */
.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

/* line 666, ../scss/style.scss */
.modal {
  background: #2b153b;
  width: 500px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  border-radius: 5px;
  text-align: center;
  color: white;
}

/* line 679, ../scss/style.scss */
.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

/* line 685, ../scss/style.scss */
.modal--visible {
  display: block;
}

/* line 689, ../scss/style.scss */
.modal-logo {
  margin-bottom: 40px;
}

/* line 693, ../scss/style.scss */
input {
  width: 60%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

/* line 713, ../scss/style.scss */
input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

/* line 718, ../scss/style.scss */
.btn-form {
  margin-top: 20px;
}

/* line 722, ../scss/style.scss */
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 65%;
  color: #2b153b;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

/* line 735, ../scss/style.scss */
.modal-title {
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  /* line 740, ../scss/style.scss */
  .modal {
    width: 80%;
  }
}
